<div class="content-section" id="fullscreen" [ngClass]="{'ml-0': !showSideBar}" (click)="hidecontextMenu = true">

  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Workflow Management</h5>
          <a href="javascript:void(0);" class="btn-add" data-toggle="modal" (click)="openModaladdwf()"
            data-target="#adduser">Add New</a>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                    aria-controls="nav-home" aria-selected="true">Workflow Configuration</a>
                  <a class="nav-item nav-link event-none" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                    role="tab" aria-controls="nav-profile" aria-selected="false">Bot Store</a>
                  <a class="nav-item nav-link event-none" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                    role="tab" aria-controls="nav-contact" aria-selected="false">Workflow Creation</a>
                </div>
              </nav>
              <div class="tab-content pb-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="h-55px">
                    <div class="form-inline float-right form-group">
                      <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3"
                          data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item"
                            href="javascript:void()">PDF</a> <a class="dropdown-item"
                            (click)="dtble.exportCSV()">CSV</a> </div>
                      </div>
                      <input type="text" class="form-control" id="courseNumber" placeholder="Search"
                        (input)="dtble.filterGlobal($event.target.value, 'contains')">
                    </div>
                  </div>

                  <p-table #dtble class="p-table-grid" [columns]="cols" [value]="workflowList" [paginator]="true"
                    [rowsPerPageOptions]="[5,10,25,50,100,500]" [rows]="10" rowHover="true" sortMode="multiple"
                    [responsive]="true">



                    <ng-template pTemplate="header">
                      <tr>
                        <th class="w-3em">
                          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th class="{{col.textAlign}}" *ngFor="let col of columns" [pSortableColumn]="col.field">
                          {{col.header}}
                          <p-sortIcon [field]="col.field"></p-sortIcon>

                        </th>
                        <th class="text-center w-10em">Action</th>

                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr>
                        <td class="W-3em">
                          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>

                        <td class="{{col.textAlign}}" *ngFor="let col of columns">
                          <div>
                            {{rowData[col.field]}}
                          </div>
                        </td>
                        <td class="text-center w-10em"><a href="javascript:void(0);" class="text-success mr-3"
                            title="Next" (click)="GetBotList(rowData)"><i class="fas fa-arrow-alt-circle-right"></i></a>
                          <a href="javascript:void(0);" class="text-primary mr-3" title="Edit"
                            (click)="editWorkflow(rowData)"><i class="fas fa-pencil-alt"></i></a>
                          <a href="javascript:void(0);" class="text-danger" (click)="DeleteWF(in)" title="Delete"><i
                              class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                      <tr>
                        <td class="text-center" [attr.colspan]="9">
                          <b>No records found</b>

                        </td>
                      </tr>
                    </ng-template>

                  </p-table>

                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <a class=""> <span class="text-black-50 font-12 linker" (click)="gotoWfC()">Workflow</span> <span
                      class="text-black-50 font-12"> > Bot Store ></span><span> {{this.workflowName}}</span> </a>
                  <div class="form-inline py-2 ">
                    <p-dropdown class="p-dropdown-custom" [options]="botTypes" [(ngModel)]="selectedBotType"
                      optionLabel="bot_type" (onChange)="selectedbotType(selectedBotType)"
                      [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                    </p-dropdown>

                    <input id="cmnSearch" type="text" class="form-control ml-2  font-12" [(ngModel)]="commonSearchValue"
                      value="commonSearchValue" (input)="botCommonSearch($event.target.value)"
                      placeholder="Search by keyword">
                    <span class=" form-inline ml-auto">
                      <a href="javascript:void(0);" class="btn btn-outline-primary mr-2 float-right  text-capitalize"
                        title="workflow" (click)="gotoWfC()"><i class="fas fa-angle-double-left"></i> Previous </a>
                      <a href="javascript:void(0);" class="btn btn-outline-primary float-right  text-capitalize "
                        title="Move BOT" (click)="nextToWorkflow(selectedworkflow)">Next <i
                          class="fas fa-angle-double-right"></i></a>
                    </span>

                  </div>

                  <div class="form-row">
                    <div class="col-4">
                      <!-- <div class="text-center font-14 p-3" *ngIf="botList.length === 0">No data found.</div> -->
                      <div class="accordion" id="module-main">
                        <div class="card" *ngFor="let bots of botList; let i = index">
                          <div class="card-header" id="headingOne" data-toggle="collapse"
                            [attr.data-target]="'#collapse_' + i" [attr.aria-controls]="'#collapse_' + i"
                            aria-expanded="true">
                            <div class="d-flex justify-content-between">
                              <button class="btn btn-link" type="button">{{bots.category}} </button>
                              <span> <a href="javascript:void(0);" class="accordion-arrow"><i
                                    class="fas fa-angle-up"></i></a> </span> </div>
                          </div>
                          <div id="collapse_{{i}}" class="collapse show" data-parent="#module-main">
                            <div class="card-body">
                              <div class="form-row" #activeList="cdkDropList" cdkDropList
                                cdkDropListOrientation="vertical" [cdkDropListData]="bots.bots"
                                [cdkDropListConnectedTo]="[inactiveList]" (cdkDropListDropped)="drop($event)">
                                <div class="col-md-6 mb-2" *ngFor="let data of bots.bots" cdkDrag>
                                  <div class="bot-list pb-2">
                                    <p>{{data.bot_name}}</p>
                                    <span class="left-detail " data-toggle="modal" (click)="botDetailsModalOpen(data)"
                                      data-target="#details">Details</span>
                                  </div>

                                </div>





                              </div>
                            </div>
                          </div>
                        </div>

                      </div>


                    </div>

                    <div class="col-8 border p-2 inactive-list" #inactiveList="cdkDropList" cdkDropList
                      cdkDropListOrientation="vertical" [cdkDropListData]="selectedBotList"
                      [cdkDropListConnectedTo]="[]" (cdkDropListDropped)="drop($event)">

                      <div class="form-row">
                        <div class="col-md-3 mb-2 " *ngFor="let selBot of selectedBotList; let a = index">
                          <span class="fas fa-times remove-selBot" (click)="removeSelectedBot(selBot, a )"></span>
                          <div class="bot-info">
                            <h6>{{selBot.bot_name}}</h6>

                            <div class="d-flex justify-content-between"> <a href="javascript:void(0);"
                                class="link-orange" (click)="botDetailsModalOpen(selBot)" title="Detail"
                                data-toggle="modal" data-target="#details">Details</a>

                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
                <div class="tab-pane fade wfspace" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                  <a> <span class="text-black-50 font-12 linker" (click)="gotoWfC()">Workflow</span><span
                      class="text-black-50 font-12"> ></span> <span class="text-black-50 font-12 linker"
                      (click)="GetBotList(selectedworkflow)"> Bot Store</span>
                    <span class="text-black-50 font-12"> ></span>
                    <span class="text-black-50 font-12 "> Workflow Creation ></span><span> {{this.workflowName}}</span>
                  </a>
                  <div class="form-inline py-2 pl-0">

                    <span class="col-md-2 pr-3 pl-0 mr-2">
                      <input type="text" class="form-control font-12 cmn-srch" id="botSearchInput" [(ngModel)]="commonSearchValueOne"
                        (input)="wfBotlistsearch($event.target.value)" placeholder="Search by keyword">
                    </span>

                    <span class="">
                      <p-dropdown class="p-dropdown-custom" [options]="workflowList" [(ngModel)]="selectedworkflow"
                        placeholder="Select a Workflow" showClear="true" optionLabel="workflowname"
                        (onChange)="selectworkflow(selectedworkflow, 1)"
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown>
                    </span>
                    <span class="ml-auto">
                      <a href="javascript:void(0);" class="btn btn-outline-primary text-capitalize float-right"
                        title="Move BOT" (click)="GetBotList(cwflow)"><i class="fas fa-angle-double-left"></i>
                        Previous </a>
                      <a href="javascript:void(0);" class="btn btn-outline-primary text-capitalize mr-2"
                        (click)="generatePDF()"><i class="fa fa-download"></i> Workflow</a>
                    </span>
                  </div>
                  <div class="form-row">
                    <div class="col-md-2 p-0 sel-bot">
                      <div class="row no-gutters">
                        <!-- <div class="col-12 mt-2" >
                          <div class="bot-list2" (click)="addtoWorkflow({bot_id: 0.1, bot_name:'Output'})">
                            <p class="">Output</p>
                            <span class="fas fa-caret-right"></span>
                          </div>
                        </div> -->
                        
                        <div class="col-12 mt-2" *ngFor="let bot of wfBotList">
                          <div class="bot-list2" (click)="addtoWorkflow(bot)">
                            <p class="">{{bot.bot_name}}</p>
                            <span class="fas fa-caret-right"></span>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-10  p-2" (click)="deselectAll($event)">
                      <!-- <a class="btn btn-sm font14 bg-white ml-auto border p-1" (click)="loadPrevious()">Load From Previous</a> -->
                      <!-- workflow drop -->
                      <div class="workflow-space border position-relative p-2" id="drawing">
                        <div class="botter" *ngFor="let wf of workflow; let idx = index" id="{{wf.id}}"
                          (contextmenu)="onRightClick($event, wf, idx)"
                          [ngClass]="{'selectedBotter': wf.active === true ? true : false, 'sp': wf.bot_type === 'StoredProcedure', 'ws': wf.bot_type === 'WebService','cl': wf.bot_type === 'Crawl','endbot': wf.bot_type === 'END'}"
                          [ngStyle]="{'top':wf.top, 'left':wf.left}" title="{{wf.cName}} ({{wf.bot_type}})">{{wf.cName}}
                        </div>
                        <!-- context menu -->

                        <!-- context menu -->

                      </div>
                      <div id="previewImage">
                      </div>

                      <div class="text-right pt-2">
                        <button type="button" class="btn btn-danger rounded-0" (click)="clear(1)">Clear</button>
                        <button type="button" class="btn btn-dark rounded-0 ml-2" (click)="saveNodeJson()">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- context -menu -->
  <div class="position-absolute border bg-white" [ngStyle]="{'top': cm.top,'left': cm.left}" *ngIf="!hidecontextMenu">
    <a class="dropdown-item" href="javascript:void(0)" (click)="dragselect(cm.wfbot)"><span
        *ngIf="cm.wfbot.active === false ?true: false ">Select</span><span
        *ngIf="cm.wfbot.active === false ? false: true ">Deselect</span></a>

    <a class="dropdown-item" href="javascript:void(0)" *ngIf="isremoveShow" (click)="removeSingle(cm.removeIndex)">Remove</a>
    <a class="dropdown-item" href="javascript:void(0)" *ngIf="isremoveShow"  (click)="removeAll(cm.wfbot.wfgroupId)">Remove All</a>
  </div>

  <div class="position-absolute border bg-white c-menu" [ngStyle]="{'top': cm.top,'left': cm.left}"
    *ngIf="!hidecontextMenuRule">
    <a class="dropdown-item" href="javascript:void(0)" *ngIf="!isEditRule" (click)="addruleIdentity()">Add Rule
      Identity</a>

    <a class="dropdown-item" href="javascript:void(0)" (click)="removeConnection()">Remove Connection</a>
    <a class="dropdown-item" href="javascript:void(0)" *ngIf="isEditRule" (click)="editruleIdentity()">Edit Rule
      Idenity</a>
    <a class="dropdown-item" href="javascript:void(0)" *ngIf="isEditRule" (click)="delruleIdentity()">Delete Rule
      Idenity</a>
  </div>
  <!-- context- menu -->

  <div class="input-group mb-3 position-absolute  bg-white ref-identity" *ngIf="showTxtboxRuleIdentity"
    [ngStyle]="{'top': cm.top,'left': cm.left}">
    <input type="text" class="form-control" id="refTxt" (keydown.enter)="refInputValidator($event)"
      placeholder="Enter your reference" aria-label="reference" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-primary" type="button" (click)="setReference()" id="refSetBtn">Set</button>
    </div>
  </div>


</div>



<footer>
  <div class="footer-bottom">
    <p>Copyright © 2020 <span class="text-blue">Unified Data Platform</span> - All rights reserved. </p>
  </div>
</footer>
<p-toast position="top-right" *ngIf="ShowMessage" baseZIndex='1000' [style]="{marginTop: '80px'}"></p-toast>
<!-- Modal -->
<div class="modal fade" id="adduser" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add / Edit Workflow Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
        <form [formGroup]="workflowDetailsForm" (ngSubmit)="InsertForm(workflowDetailsForm.value)" autocomplete="off">
          <div class="row">
            <div class="col-md-6 form-group">
              <!-- <label >Workflow Name</label>
                <input type="text" class="form-control" name="wfname" [(ngModel)]="formValues.workflowName"  >
                <div class="error text-danger" *ngIf="formValues.workflowName === '' && issubmitted">Please enter some description about Workflow.</div> -->

              <label for="sname">Workflow Name</label>
              <input type="text" [(ngModel)]="WorkFlowName" formControlName="WorkFlowName" name="WorkFlowName"
                class="form-control" id="WorkFlowName" maxlength="50" (keypress)="workflowNameValidator($event)"
                autocomplete="off">
              <control-messages [control]="getFields['WorkFlowName']" [message]="'WorkFlowName'" [customMessage]="''">
              </control-messages>
              <div class="error workflownameerror"></div>

              <!-- <button type="submit" class="btn btn-navy" (click)="workflowNameValidation(WorkFlowName)">Save</button> -->

            </div>
            <div class="col-md-12 form-group">
              <!-- <label >Workflow Description</label>
                <textarea class="form-control" [(ngModel)]="formValues.description" name="wfdescription"  rows="5"></textarea>
                <div class="error text-danger" *ngIf="formValues.description === '' && issubmitted">Please enter some description about Workflow.</div> -->

              <label for="sname">Workflow Description</label>
              <textarea class="form-control" [(ngModel)]="WorkFlowDescription" formControlName="WorkFlowDescription"
                name="WorkFlowDescription" id="WorkFlowDescription" autocomplete="off" (keyup)="error=''"
                rows="5"></textarea>
              <control-messages [control]="getFields['WorkFlowDescription']" [message]="'WorkFlowDescription'"
                [customMessage]="''">
              </control-messages>
            </div>
            <div class="col-md-6 form-group">
              <label for="collegeName">Upload Input File <span class="text-danger">*</span></label>
              <a href="javascript:void(0);" (click)="downloadXlsx()" class="float-right mb-1">Download Template</a>
              <div class="custom-file" >
                
                <input type="file" #myInput class="custom-file-input w-100"
                  (change)="handleFileInput($event.target.files)" (click)="clearFile()" id="InputFile" name="InputFile" autocomplete="off"
                  (keyup)="error=''">
                <control-messages [control]="getFields['InputFile']" [message]="'InputFile'" [customMessage]="''">
                </control-messages>
                <label class="custom-file-label" for="customFile">{{fileName}}</label>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" id="testone" class="btn btn-danger" (click)="Close()"
              data-dismiss="modal">Close</button>
            <!-- <button type="submit" class="btn btn-navy">Save</button> -->
            <button type="submit" class="btn btn-navy" *ngIf="!editwf">Save</button>
            <button type="submit" class="btn btn-navy" *ngIf="editwf">Update</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<div class="modal fade" id="details" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="connectorDetails">BOT Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active"
                  id="nav-create-emp-tab" data-toggle="tab" href="#nav-create-emp" role="tab"
                  aria-controls="nav-create-emp" aria-selected="true">Summary</a> <a class="nav-item nav-link"
                  id="nav-data-submission-tab" data-toggle="tab" href="#nav-data-submission" role="tab"
                  aria-controls="nav-data-submission" aria-selected="false">Description</a> <a class="nav-item nav-link"
                  id="nav-data-points-tab" data-toggle="tab" href="#nav-data-points" role="tab"
                  aria-controls="nav-data-points" aria-selected="false">Data Points</a></div>
            </nav>
            <div class="tab-content pb-0" id="nav-tabContent">
              <div class="tab-pane fade show active pt-4" id="nav-create-emp" role="tabpanel"
                aria-labelledby="nav-create-emp-tab">
                <!-- Tab Content1 Starts-->
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td width="25%">Bot Name</td>
                      <td>{{botd.botname}}</td>
                    </tr>
                    <!-- <tr>
                      <td>Price</td>
                      <td>{{botd?.details?.Price}}</td>
                    </tr> -->
                    <tr>
                      <td>Created Date</td>
                      <td>{{botd.createdDate}}</td>
                    </tr>
                    <tr>
                      <td>Updated Date</td>
                      <td>{{botd.updatedDate}}</td>
                    </tr>
                    <tr>
                      <td>Version</td>
                      <td>{{botd.version}}</td>
                    </tr>
                    <tr>
                      <td>Category</td>
                      <td>{{botd?.details?.Category}}</td>
                    </tr>
                    <tr>
                      <td>SP Bot Name</td>
                      <td>{{spbotd.spbotname}}</td>
                    </tr>
                    <tr>
                      <td>SP Bot Type</td>
                      <td>{{spbotd.spbottype}} </td>
                    </tr>
                    <tr>
                      <td>Isesurlsp</td>
                      <td>{{spbotd.isesurlsp}} </td>
                    </tr>
                  </tbody>
                </table>

                <!-- Tab Content1 Ends-->
              </div>
              <div class="tab-pane fade show" id="nav-data-submission" role="tabpanel"
                aria-labelledby="nav-data-submission-tab">
                <!-- Tab Content1 Starts-->
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td> {{botd.description}}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- Tab Content1 Ends-->
              </div>
              <div class="tab-pane fade show" id="nav-data-points" role="tabpanel"
                aria-labelledby="nav-data-points-tab">
                <!-- Tab Content1 Starts-->
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center"> Input Attributes </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let ipA of botd.input_attributes">
                          <td class="text-center">{{ipA.attributename}}</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center"> Output Attributes </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let opA of botd.output_attributes">
                          <td class="text-center">{{opA.attributename}}</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- Tab Content1 Ends-->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-navy">Save</button>
      </div>
    </div>
  </div>
</div>


<!-- connection details  modal-->
<div class="modal fade" id="conDetails" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{currentconnectionName}}</h5>
        <button type="button" class="close" data-dismiss="modal" (click)="clearattributemapping()" aria-label="Close">
          <span aria-hidden="true">&times;</span> </button>
      </div>
      <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab-details" role="tablist">
                <!-- Don't remove this below comment for future use -->
                <!-- <a class="nav-item nav-link active" id="actionType-tab" data-toggle="tab"
                  (click)="currentConTab = 'ATYPE';submitted = false" href="#nav-actionType" role="tab"
                  aria-controls="nav-actionType" aria-selected="true">Action Type</a> -->
                <a class="nav-item nav-link active" id="attrMapping-tab" data-toggle="tab"
                  (click)="currentConTab = 'AMAP';submitted = false" href="#nav-attrMap" role="tab"
                  aria-controls="nav-attrMap" aria-selected="true">Input</a>
                <a class="nav-item nav-link" id="rule-tab" data-toggle="tab" href="#nav-rule"
                  (click)="currentConTab = 'RULE';submitted = false;getRuleDetails()" role="tab"
                  aria-controls="nav-rule" aria-selected="false">Rule</a>
                <a class="nav-item nav-link" id="output-tab" data-toggle="tab" href="#nav-output"
                  (click)="currentConTab = 'OMAP';submitted = false; srchInAtrValue = ''; srchOutAtrValue = '';getoutputmappingDetails()"
                  role="tab" aria-controls="nav-output" aria-selected="false">Output</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tab-details-Content">
              <!-- Don't remove this below comment for future use -->
              <!-- <div class="tab-pane fade show active pt-4" id="nav-actionType" role="tabpanel"
                aria-labelledby="actionType-tab">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-4 form-group">
                      <label>Sequence</label>
                      <input type="text" class="form-control" [(ngModel)]="aMappingformVal.wfsequence">
                      <div class="error text-danger" *ngIf="aMappingformVal.wfsequence === '' && submitted">Please enter
                        Sequence.</div>

                    </div>
                    <div class="col-md-4 form-group">
                      <label>Action Name</label>
                      <input type="text" class="form-control" [(ngModel)]="aMappingformVal.actionName">
                      <div class="error text-danger" *ngIf="aMappingformVal.actionName === '' && submitted">Please enter
                        action name.</div>

                    </div>
                    <div class="col-md-4 form-group">
                      <label>Action Type</label>
                      <p-dropdown [options]="actionTypes" optionLabel="actiontype_name"
                        [(ngModel)]="aMappingformVal.actiontype"
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown>
                      <div class="error text-danger" *ngIf="aMappingformVal.actiontype === '' && submitted">Please
                        select an action type.</div>

                    </div>

                    <div class="col-md-4 form-group">
                      <label class="pt-2">Is View Output</label><br />
                      <p-radioButton name="isViewOutput" value="1" label="Yes"
                        [(ngModel)]="aMappingformVal.isViewOutput"></p-radioButton>
                      &nbsp;<p-radioButton name="isViewOutput" value="0" label="No"
                        [(ngModel)]="aMappingformVal.isViewOutput"></p-radioButton>

                    </div>

                    <div class="col-md-4 form-group">
                      <label class="">Is Primray</label><br />
                      <p-radioButton name="isPrimary" value="1" label="Primary"
                        (onClick)="aMappingformVal.isPrimary = 1" [(ngModel)]="aMappingformVal.isPrimary">
                      </p-radioButton>
                      &nbsp;<p-radioButton name="isPrimary" value="0" (onClick)="aMappingformVal.isPrimary = 0"
                        label="Dependent" [(ngModel)]="aMappingformVal.isPrimary"></p-radioButton>

                    </div>
                    <div class="col-md-4 form-group" *ngIf="aMappingformVal.isPrimary === 0">
                      <label>Previous Action</label>
                      <p-dropdown [options]="actionNames" optionLabel="actionName"
                        [(ngModel)]="aMappingformVal.preAction"
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown>
                      <div class="error text-danger" *ngIf="aMappingformVal.preAction === '' && submitted">Please
                        select an Previous Action.</div>

                    </div>

                  </div>
                  <div class="modal-footer p-0 pt-2">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-navy" (click)="saveConnectorModal(currentConTab)">Save</button>
                  </div>
                </div>

              </div> -->

              <div class="tab-pane fade show active " id="nav-attrMap" role="tabpanel"
                aria-labelledby="attrMapping-tab">
                <!-- Tab Content1 Starts-->
                <!-- form -->
                <div class="container-fluid p-0">
                  <!-- <div class="row">
                    <div class="col-md-6 form-group">
                      <label>Source Bot Name</label>
                      <input type="text" class="form-control" readonly name="sbot"
                        [(ngModel)]="aMappingformVal.sourceBot">
                      <div class="error text-danger" *ngIf="aMappingformVal.sourceBot === '' && submitted">Please enter
                        Source Bot Name.</div>
                    </div>
                    <div class="col-md-6 form-group">
                      <label>Target Bot Name</label>
                      <input type="text" class="form-control" readonly name="tbot"
                        [(ngModel)]="aMappingformVal.targetBot">
                      <div class="error text-danger" *ngIf="aMappingformVal.targetBot === '' && submitted">Please enter
                        Target bot name.</div>
                    </div>
                  </div> -->
                  <div class="row">


                    <div class="col-md-4 form-group">
                      <label>Attribute Type</label>
                      <p-dropdown class="p-dropdown-custom" [options]="attributeTypes"
                        (onChange)="attributeSelect($event.value)" optionLabel="attr"
                        [(ngModel)]="aMappingformVal.attributeType"
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown>
                      <div class="error text-danger" *ngIf="aMappingformVal.attributeType === '' && submitted">Please
                        select a Attribute type.</div>

                    </div>
                  </div>
                </div>
                <!-- bg grey section -->
                <div class="container-fluid mb-2">
                  <div class="row py-3 border bg-light">
                    <div class="col-md-6  form-group" *ngIf="curntAttrType !== 'STATIC'">
                      <label>Workflow Attribute <span class=""></span></label>
                      <p-dropdown class="p-dropdown-custom" [options]="userAttributes" optionLabel="attribute_name"
                        filter="true" placeholder="Select a attribute" [(ngModel)]="aMappingformValuserAttribute"
                        (onChange)="userAttributesonChange($event)" [disabled]="disableuserAttributeDropdown"
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown>
                      <div class="error text-danger"
                        *ngIf="aMappingformValuserAttribute === null || aMappingformValuserAttribute === undefined && submitted">
                        Please
                        select a Workflow Attribute type.</div>
                    </div>

                    <div class="col-md-6  form-group">
                      <label>Target Attribute <span class="tAttribute"></span></label>
                      <!-- <p-dropdown [options]="targetAttributesClone" optionLabel="attribute_name"
                        placeholder="Select a target attribute" [(ngModel)]="aMappingformValtargetAttribute"
                        (onChange)="targetAttributesonChange(aMappingformValtargetAttribute)" 
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown> -->

                      <p-dropdown class="p-dropdown-custom" [options]="targetAttributesClone"
                        placeholder="Select a attribute" filter="true" [(ngModel)]="aMappingformValtargetAttribute"
                        (onChange)="targetAttributesonChange(aMappingformValtargetAttribute)"
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown>

                      <br />
                      <div class="error text-danger"
                        *ngIf="aMappingformValtargetAttribute === null || aMappingformValtargetAttribute === undefined && submitted">
                        Please select a target Attribute type.</div>
                    </div>

                    <div class="col-md-6  form-group" *ngIf="curntAttrType !== 'STATIC'">
                      <label>Source Attribute <span class="sAttribute"></span></label>
                      <p-dropdown class="p-dropdown-custom" [options]="sourceAttributes" optionLabel="attribute_name"
                        filter="true" placeholder="Select a attribute" [(ngModel)]="aMappingformValsourceAttribute"
                        (onChange)="sourceAttributesonChange($event)" [disabled]="disablesourceAttributesDropdown"
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown>
                      <div class="error text-danger"
                        *ngIf="aMappingformValsourceAttribute === null || aMappingformValsourceAttribute === undefined && submitted">
                        Please
                        select a source Attribute type.</div>
                    </div>

                    <div class="col-md-6  form-group" *ngIf="curntAttrType === 'STATIC'">
                      <label>Attriubte Value</label>
                      <input type="text" class="form-control" [(ngModel)]="aMappingformVal.attributeValue">
                      <div class="error text-danger" *ngIf="aMappingformVal.attributeValue === '' && submitted">Please
                        enter
                        Attribute Value.</div>
                      <!-- <div class="error text-danger" *ngIf="aMappingformVal.attributeValue.length > 50">
                          Maximum length should be 50 characters
                        </div> -->
                    </div>



                    <div class="col-md-6  form-group" *ngIf="curntAttrType === 'DERIVED'">
                      <label>Sequence <small class="text-secondary text-lowercase f-12">(max 10
                          digits)</small></label>
                      <input type="number" class="form-control sqnnumber" id="sqnNum" max="9999999999"
                        (keypress)="numberOnly($event)" [(ngModel)]="aMappingformVal.sequence">
                      <div class="error text-danger" *ngIf="aMappingformVal.sequence === '' && submitted">Please enter
                        Sequence.</div>
                    </div>

                    <div class="col-md-12 " *ngIf="curntAttrType === 'DERIVED'">
                      <div class="container-fluid p-0">
                        <div class="row">
                          <div class="col-md-4 form-group">
                            <label>Prefix</label>
                            <input type="text" class="form-control" [(ngModel)]="aMappingformVal.prefix">
                            <!-- <div class="error text-danger" *ngIf="aMappingformVal.prefix === '' && submitted">Please
                              enter
                              Prefix.</div> -->
                            <div class="error text-danger" *ngIf="aMappingformVal.prefix.length > 100">
                              Maximum length should be 100 characters
                            </div>
                          </div>

                          <div class="col-md-4 form-group">
                            <label>Deliminator</label>
                            <input type="text" class="form-control" [(ngModel)]="aMappingformVal.deliminator">
                            <!-- <div class="error text-danger" *ngIf="aMappingformVal.deliminator === '' && submitted">
                              Please enter
                              deliminator.</div> -->
                            <div class="error text-danger" *ngIf="aMappingformVal.deliminator.length > 10">
                              Maximum length should be 10 characters
                            </div>
                          </div>

                          <div class="col-md-4 form-group">
                            <label>Suffix</label>
                            <input type="text" class="form-control" [(ngModel)]="aMappingformVal.suffix">
                            <!-- <div class="error text-danger" *ngIf="aMappingformVal.suffix === '' && submitted">Please
                              enter
                              Suffix.</div> -->
                            <div class="error text-danger" *ngIf="aMappingformVal.suffix.length > 100">
                              Maximum length should be 100 characters
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 mt-2">
                      <div class=" text-right"><button class="btn  btn-primary "
                          (click)="addAMappingTb(curntAttrType)">Add</button>
                      </div>
                    </div>

                  </div>
                </div>
                <div *ngIf="curntAttrType === 'STATIC'">
                  <p-table #atMap class="p-table-grid" [columns]="cols" [value]="aMappingTable.static"
                    [paginator]="true" [(selection)]="selectedTableWf" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                    [rows]="5" rowHover="true" sortMode="multiple" [responsive]="true" autoLayout="true"
                    [globalFilterFields]="['userAttribute', 'sourceAttribute','targetAttribute']">


                    <ng-template pTemplate="header">
                      <tr>
                        <th>Target Attribute</th>
                        <th>Attribute Value</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-am let-in="index">
                      <tr>


                        <td>{{am.targetAttribute.attribute_name}}</td>
                        <td>{{am.attributeValue}}</td>
                        <td class="text-center">

                          <a href="javascript:void(0);" class="text-danger" title="Delete"
                            (click)="deleteAM(aMappingTable.static,am)"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                      <tr>
                        <td class="text-center" [attr.colspan]="3">
                          <b>No records found</b>

                        </td>
                      </tr>
                    </ng-template>

                  </p-table>'
                </div>

                <!-- static end -->
                <!--  NORMAL start-->
                <div *ngIf="curntAttrType === 'NORMAL'">
                  <div class="error text-danger" *ngIf="showtableerror">
                    Please
                    select all the target Attributes.</div>
                  <p-table #atMap class="p-table-grid" [columns]="cols" [value]="aMappingTable.normal"
                    [paginator]="true" [(selection)]="selectedTableWf" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                    [rows]="5" rowHover="true" sortMode="multiple" [responsive]="true" autoLayout="true"
                    [globalFilterFields]="['userAttribute', 'sourceAttribute','targetAttribute']">


                    <ng-template pTemplate="header">
                      <tr>
                        <th>Workflow Attribute</th>
                        <th>Source Attribute</th>
                        <th>Target Attribute</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-am let-index="index">
                      <tr>
                        <td>{{am.userAttribute.attribute_name == null ? '' : am.userAttribute.attribute_name}}</td>
                        <td>{{am.sourceAttribute.attribute_name == null ? '' : am.sourceAttribute.attribute_name}}</td>
                        <td>{{am.targetAttribute.attribute_name == null ? '' : am.targetAttribute.attribute_name}}</td>
                        <td class="text-center">
                          <a href="javascript:void(0);" class="text-danger" title="Delete"
                            (click)="deleteAM(aMappingTable.normal,am)"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                      <tr>
                        <td class="text-center" [attr.colspan]="4">
                          <b>No records found</b>

                        </td>
                      </tr>
                    </ng-template>

                  </p-table>
                </div>
                <!-- normal end -->
                <!-- derived start -->
                <div *ngIf="curntAttrType === 'DERIVED'">
                  <p-table #atMap class="p-table-grid" [columns]="cols" [value]="aMappingTable.derived"
                    [paginator]="true" [(selection)]="selectedTableWf" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                    [rows]="5" rowHover="true" sortMode="multiple" [responsive]="true" autoLayout="true"
                    [globalFilterFields]="['userAttribute', 'sourceAttribute','targetAttribute']">


                    <ng-template pTemplate="header">
                      <tr>
                        <th>Workflow Attribute</th>
                        <th>Source Attribute</th>
                        <th>Target Attribute</th>
                        <th>Sequence</th>
                        <th>Prefix</th>
                        <th>Suffix</th>
                        <th>Deliminator</th>
                        <th class="text-center w-6em">Action</th>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-am let-in="index">
                      <tr>
                        <td>{{am.userAttribute.attribute_name}}</td>
                        <td>{{am.sourceAttribute.attribute_name}}</td>
                        <td>{{am.targetAttribute.attribute_name}}</td>
                        <td>{{am.sequence}}</td>
                        <td>{{am.prefix}}</td>
                        <td>{{am.suffix}}</td>
                        <td>{{am.deliminator}}</td>
                        <td class="text-center">

                          <a href="javascript:void(0);" class="text-danger" title="Delete"
                            (click)="deleteAM(aMappingTable.derived,am)"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                      <tr>
                        <td class="text-center" [attr.colspan]="8">
                          <b>No records found</b>

                        </td>
                      </tr>
                    </ng-template>

                  </p-table>
                </div>
                <!-- form -->
                <div class="modal-footer p-0 pt-2">
                  <button type="button" id="clearattributemapping" class="btn btn-danger"
                    (click)="clearattributemapping()" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-navy" id="attMappingSaveBtn" (click)="attributemapping()">Save</button>
                </div>

                <!-- Tab Content1 Ends-->
              </div>
              <div class="tab-pane fade show" id="nav-rule" role="tabpanel" aria-labelledby="rule-tab">
                <!-- Tab Content1 Starts-->
                <div class="container-fluid p-0">
                  <div class="row">
                    <div class="col-md-4 form-group">
                      <label>Operation Type</label>
                      <p-dropdown class="p-dropdown-custom" [options]="operationTypes"
                        placeholder="Select an operation type" optionLabel="operationtype_name" (onChange)="selOperationType(ruleformVal.operationType)"
                        [(ngModel)]="ruleformVal.operationType"
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown>
                      <div class="error text-danger" *ngIf="ruleformVal.operationType === '' && submitted">Please select
                        a attribute type.</div>
                    </div>
                    <div class="col-md-4 form-group" *ngIf="ruleformVal.operationType !== ''">
                      <label>Select or Create Rule</label>
                      <p-dropdown class="p-dropdown-custom" [options]="suggestRules"
                        placeholder="Select an Rule" optionLabel="rulename" [(ngModel)]="ruleformVal.selectedRule"
                        (onChange)="selectSuggestRule(ruleformVal.selectedRule)"
                        [style]="{'width':'100%','font-size':'12px','border-radius':'0','border':'1px solid #ced4da','text-transform':'unset'}">
                      </p-dropdown>
                      <div class="error text-danger" *ngIf="ruleformVal.selectedRule === '' && submitted">Please select
                        a rule.</div>
                   
                    </div> 
                    <div class="col-md-4 form-group" *ngIf="isNewRule">
                      <label>New Rule Name</label>
                      <input type="text" class="form-control text-capitalize"  [(ngModel)]="newrulename">
                      <div class="error text-danger" *ngIf="newrulename === '' && submitted">Please enter
                        new rule name.</div>
                   
                    </div> 
                    <div class="col-md-12" name="myForm" ng-form>
                      <textarea rows="5" placeholder="Enter the JSON rule" id="textAreaRule" class="w-100 form-control"
                        [(ngModel)]="ruleJson"></textarea>
                      <div class="error text-danger" *ngIf="ruleJson === null && submitted">Please Enter
                        the Json value.</div>
                      <div class="error text-danger notjson"></div>
                    </div>
                    <div class="col-md-12 my-2">
                      <div class="float-right"><button class="btn  btn-primary " (click)="addruleTb()">Add</button>
                      </div>
                    </div>
                  </div>
                  <div class="error text-danger position-relative" *ngIf="showruletableerror">
                    Please map the operationtype and Json value.
                  </div>
                  <table class="table table-bordered" id="ruleJSONTable">
                    <thead>
                      <tr>
                        <th>Operation&nbsp;Type</th>
                        <th>Rule&nbsp;</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody cdkDropList (cdkDropListDropped)="dropsort($event, operationTypesTable)"
                      *ngFor="let otype of operationTypesTable; let inx = index">
                      <tr *ngIf="otype.isactive === true" cdkDrag (cdkDragStarted)="dragItemOptype(otype)">
                        <div *cdkDragPreview>
                          <div *ngFor="let curotype of currentOptype" class="border p-2">{{curotype.operationType}}
                          </div>
                        </div>
                        <td class="text-center">{{otype.operationType}}</td>
                        <td class="px-0" cdkDropList (cdkDropListDropped)="dropsort($event, otype.rulejson)">
                          <div *ngFor="let rj of otype.rulejson; let ix = index">
                            <div class="p-2 border-bottom ruling-json position-relative" *ngIf="rj.isactive === true"
                              cdkDrag (cdkDragStarted)="dragItemrj(rj)">
                              <div class="font-weight-bold" title="{{rj.rulename}}">{{rj.rulename}}
                              </div>
                              <div class="elips-json" title="{{rj.criteria_json | json}}">{{rj.criteria_json | json}}
                              </div>
                              <div *cdkDragPreview class="p-2">
                                <div *ngFor="let curjson of currentRuleJson" class="border elips-json">
                                 {{curjson.rulename}}, {{curjson.criteria_json | json}}</div>
                              </div>
                              <a href="javascript:void(0);" class="text-danger del-rulejson" title="Delete"
                                (click)="delrule(otype,otype.rulejson, ix )"><i class="fas fa-trash-alt"></i></a>
                            </div>
                          </div>

                        </td>
                        <td class="text-center">
                          <a href="javascript:void(0);" class="text-danger" title="Delete"
                            (click)="deloperation( operationTypesTable, inx )"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                      <tr *ngIf="operationTypesTable.length === 0">
                        <td class="text-center" [attr.colspan]="3">No data found</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="modal-footer p-0 pt-2">
                    <button type="button" id="clearRulemapping" class="btn btn-danger" (click)="clearattributemapping()"
                      data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-navy" id="rulemappingSaveBtn" (click)="rulemapping()">Save</button>
                    <!-- <button type="button" class="btn btn-navy" (click)="getrulemappingDetails()">Save</button> -->
                  </div>
                </div>
                <!-- Tab Content1 Ends-->
              </div>
              <div class="tab-pane fade show" id="nav-output" role="tabpanel" aria-labelledby="output-tab">
                <!-- Tab Content1 Starts-->
                <!-- form row -->

                <div class="row">
                  <div class="col-md-4 form-group">
                    <label>Output File Name</label>
                    <span>
                    <input type="text" class="form-control pr-5" name="ofn" [(ngModel)]="opMapformVal.outputFname"><a class="file-extenstion">.xlsx</a></span>
                    <div class="error text-danger" *ngIf="opMapformVal.outputFname === '' && submitted">Please enter
                      output file name.
                    </div>

                    <div class="error text-danger" *ngIf="opMapformVal.outputFname.length > 200">
                      Maximum length should be 200 characters
                    </div>

                  </div>

                </div>
                <!-- form row end -->


                <div class="row">
                  <div class="col-md-4">

                    <div class="example-container">
                      <label>Output Attribute</label>
                      <input class="form-control mb-3" placeholder="Search" id="inputsearch"
                        (input)="inputAttributeSearch($event.target.value)" #sg />

                      <div cdkDropList #todoList="cdkDropList" id="dgdpLeft" [cdkDropListData]="sourceAttributesclone"
                        [cdkDropListConnectedTo]="[doneList]" class="example-list dgdpLeft"
                        (cdkDropListDropped)="droped($event, 0)">
                        <div class="example-box f-12" [ngClass]="{'selected': item?.selected === true ? true :false}"
                          *ngFor="let item of sourceAttributesclone  | srchAtr : srchInAtrValue" cdkDrag
                          (mousedown)="dragTouchEndEvent(sourceAttributesclone,item)"
                          (cdkDragStarted)="dragItemL(item)"  (click)="onKeyDown($event, item, sourceAttributesclone)">
                          <div *cdkDragPreview class="border p-0">
                            <div *ngFor="let s of draggedItemL" class="text-dark p-2">{{s.outputpropertyname}}</div>
                          </div>
                          <p class="text-center m-0 p-1">
                            {{item.outputpropertyname}}
                          </p>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-8 ">


                    <label>Selected Attribute</label>
                    <input class="form-control mb-3 col-md-6" id="outputsearch" placeholder="Search"
                      (input)="outputAttributeSearch($event.target.value)" #sg />

                    <!-- <div class="example-box-one" *ngFor="let item of done" cdkDrag>{{item.attribute_name}}</div> -->
                    <div class="error text-danger" *ngIf="showoutputtableerror">
                      Please select the Output Attribute.
                    </div>
                    <div>
                      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="report_properties"
                        [cdkDropListConnectedTo]="[todoList]" class="container-fluid border" id="reportProp"
                        (cdkDropListDropped)="droped($event,1)">
                        <div class="row text-primary text-bold">
                          <div class="col-2 border p-2 ">Order</div>
                          <div class="col-5  border p-2">Attribute Name</div>
                          <div class="col-5  border p-2">Display Name</div>
                        </div>
                        <div class="row"
                          *ngFor="let con of report_properties | searchOutputAtr: srchOutAtrValue ; let id = index;"
                          cdkDrag (mousedown)="dragTouchEndEvent(report_properties,con)"  [ngClass]="{'selected': con?.selected === true ? true :false}"
                          (cdkDragStarted)="dragItemR(con)" (click)="onKeyDown($event, con, report_properties)">
                          <div *cdkDragPreview class="row border p-2">
                            <div class="col-12" *ngFor="let R of draggedItemR" class="text-dark p-2">
                              {{R.outputpropertyname}} </div>
                            <!-- <div *ngFor="let R of draggedItemR" class="text-dark p-2">{{R.outputpropertyname}}</div> -->
                          </div>
                          <div class="col-2 text-center border pt-2 px-1">{{id + 1}}</div>
                          <div class="col-5  border pt-2 px-1">{{con.outputpropertyname}}</div>
                          <div class="col-5 text-center border p-1">
                            <input class="form-control" type="text" [(ngModel)]="con.propertydisplayname" /></div>
                        </div>

                        <div class="row" *ngIf="! report_properties?.length">
                          <div class="col-12 text-center border p-2">
                            <b>No Attribute found</b>
                          </div>
                        </div>



                      </div>
                    </div>

                  </div>
                </div>
                <div class="modal-footer p-0">
                  <button type="button" class="btn btn-danger" (click)="clearattributemapping()"
                    data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-navy" id="outputSave" (click)="saveoutputdata()">Save</button>
                </div>
                <!-- Tab Content1 Ends-->
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- connection details modal end -->


<!-- connector save Modal -->
<!-- connection details  modal-->
<div class="modal fade" id="consaveDetail" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <p-toast position="top-right" baseZIndex="1000" [style]="{marginTop: '80px'}"></p-toast>
      <div class="modal-body">
        <p>Please ensure everything.</p>
        <div class="overflow-auto">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">Sequence</th>
                <th>Connection Name</th>
                <th class="text-center">Connection Type</th>
                <th class="text-center">Need Output</th>
                <th class="text-center">primary</th>
                <!-- <th>primary Con</th> -->
                <th class="text-center">Dependent</th>
                <th>Dependent Connection</th>
                <th>parent Connection</th>
              </tr>

            </thead>
            <tbody>
              <tr *ngFor="let con of conSaveDetails">
                <td class="text-center">{{con.sequence}}</td>
                <td>{{con.connectionName}}</td>
                <td class="text-center">{{con.connectionType}}</td>
                <!-- <td>{{con.isViewOutput}}</td> -->
                <td class="text-center">
                  <p-inputSwitch [(ngModel)]="con.isViewOutput" (onChange)="isViewoutputCheck($event,con.isViewOutput)">
                  </p-inputSwitch>
                </td>
                <td class="text-center">{{con.isPrimary}}</td>

                <td class="text-center">{{con.dependent}}</td>
                <td>{{con.dependentcon}}</td>
                <td>{{con.parentCon}}</td>
              </tr>
            </tbody>

          </table>
        </div>
        <div class="modal-footer pt-3 pb-0 pr-0"><button _ngcontent-fnp-c4="" class="btn btn-danger" data-dismiss="modal"
            type="button">Cancel</button>
          <button _ngcontent-fnp-c4="" class="btn btn-navy" id="confirmBtn" type="button"
            (click)="save()">Confirm</button></div>
      </div>

    </div>
  </div>
</div>
<!-- connecor save Modal -->