
<div class="content-section" id="fullscreen" [ngClass]="{'ml-0': !showSideBar}">
 
  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Users</h5>
          <a href="javascript:void(0);" class="btn-add" (click) = "Open()" data-toggle="modal" data-target="#addUsers">Add New</a> </div>
        <div class="card-body" *ngIf="showCount">
          <div class="row">
            <div class="col-12">
              <div class="display-inline-block margin-r-10 float-left mt-2"><b>{{ dt.totalRecords }}</b> Results Found</div>
               <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
              <div class="form-inline float-right form-group">
                <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" (click)="exportPdf()">PDF</a> <a class="dropdown-item" (click)="dt.exportCSV()">CSV</a>
                    <!--<a class="dropdown-item" (click)="exportExcel()">Excel</a>-->
                  </div>
                </div>
                <input type="text" class="form-control" id="courseNumber" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">
               
              </div>
            </div>
            <div class="col-12">
              <p-table #dt class="p-table-grid" [columns]="cols" [value]="userManagement" [paginator]="true" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                [rows]="10"  rowHover="true" sortMode="multiple" [responsive]="true" exportFilename="UserManagement_Details">

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th class="text-center w-9em" >Status</th>
                    <th class="text-center w-9em" >Action</th>

                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td  *ngFor="let col of columns">
                      <div pTooltip="{{rowData[col.field]}}" tooltipPosition="top">
                        {{rowData[col.field]}}
                      </div>
                    </td>
                    <td class="text-center">
                      <i class="fas fa-square text-success" *ngIf="rowData.active == true"></i>
                      <i class="fas fa-square text-danger" *ngIf="rowData.active == false"></i>
                    </td>
                    <td class="text-center">
                      <a href="javascript:void(0);" class="text-primary mr-3" (click)="editUserManagement(rowData)" title="Edit"
                       >
                        <i class="fas fa-pen-square"></i>
                      </a>

                      <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Delete" (click)="deleteUser(rowData)"><i class="fas fa-trash-alt"></i></a></td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                  <tr>
                    <td class="text-center" [attr.colspan]="columns.length + 2">
                      <b>No records found</b>
                    </td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addUsers" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">User Management</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active" id="nav-create-emp-tab" data-toggle="tab" href="#nav-create-emp" role="tab"
                  aria-controls="nav-create-emp" aria-selected="true">Upload User Management List</a> <a class="nav-item nav-link"
                  id="nav-data-submission-tab" data-toggle="tab" href="#nav-data-submission" role="tab" aria-controls="nav-data-submission"
                  aria-selected="false">Create User Management</a> </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active pt-4" id="nav-create-emp" role="tabpanel" aria-labelledby="nav-create-emp-tab">
                <!-- Tab Content1 Starts-->

                <form [formGroup]="BulkUploadDetailsForm" (ngSubmit)="BulkInsertForm(BulkUploadDetailsForm.value)" autocomplete="off">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <div class="col-md-12 form-group pl-0"> <a href="javascript:void(0);" (click)="downloadCsv()" class="btn btn-primary btn-sm">Download Template</a> </div>
                      <label for="collegeName">Upload User Management File <span class="text-danger">*</span></label>
                      <div class="custom-file">
                        <input type="file" #myInput class="custom-file-input w-100"  (change)="handleFileInput($event.target.files)" 
                        id="InputFile" name="InputFile" autocomplete="off" (keyup)="error=''">
                        <control-messages [control]="getField['InputFile']" [message]="'InputFile'" [customMessage]="''">
                      </control-messages>
                        <label class="custom-file-label" for="customFile">{{fileName}}</label>
                      </div>
                    </div>
        
                  </div>
                  <div class="modal-footer p-0">
                    <button type="button" id="testone" class="btn btn-danger" (click)="Close()" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-navy">Save</button>
                  </div>
                </form>



                <!-- <div class="form-row">
                  <div class="col-md-12 form-group"> <a href="doc/NCCategory_Template.xlsx" class="btn btn-primary btn-sm">Download Template</a> </div>
                  <div class="col-md-6 form-group">
                    <label for="collegeName">Upload User Management File <span class="text-danger">*</span></label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" (change)="chooseFile($event)" id="customFile">
                      <label class="custom-file-label" for="customFile">{{fileName}}</label>
                    </div>
                  </div>
                </div> -->
                <!-- Tab Content1 Ends-->
              </div>
              <div class="tab-pane fade show" id="nav-data-submission" role="tabpanel" aria-labelledby="nav-data-submission-tab">
                <!-- Tab Content1 Starts-->
                 <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
                <form [formGroup]="userManagementForm" (ngSubmit)="submitForm(userManagementForm.value)" autocomplete="off">
                  <div class="row">

                    <div class="col-md-6 form-group">
                      <label for="OrganizationName">Organization Name</label>
                      <!-- <select class="form-control" formControlName="OrganizationName" [(ngModel)]="OrganizationName" name="OrganizationName" id="OrganizationName" maxlength="50" (keyup)="error=''">
                            <option value="">-- Select --</option>
                            <option *ngFor="let client of clients" value={{client.clientId}}>
                              {{client.organizationName}}
                            </option>
                      </select> -->
                      <div><p-dropdown  class="p-dropdown-custom"    [options]="clients" formControlName="OrganizationName" [(ngModel)]="selectedOrganization" placeholder="Select" filter="true"></p-dropdown>   </div> 
                      <control-messages [control]="getFields['OrganizationName']" [message]="'Organization name'" [customMessage]="''"></control-messages>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="FirstName">First Name</label>
                      <input type="text" formControlName="FirstName" name="FirstName" class="form-control" id="FirstName" maxlength="50" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['FirstName']" [message]="'First name'" [customMessage]="''"></control-messages>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="LastName">Last Name</label>
                      <input type="text" formControlName="LastName" name="LastName" class="form-control" id="LastName" maxlength="50" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['LastName']" [message]="'Last name'" [customMessage]="''"></control-messages>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="Email">Email</label>
                      <input type="text" formControlName="Email" name="Email" class="form-control" id="Email" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['Email']" [message]="'Email'" [customMessage]="'Email is invalid'"></control-messages>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="Phone">Phone</label>
                      <input type="text" formControlName="Phone" (keypress)="numberOnly($event)" name="Phone" class="form-control" id="Phone" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['Phone']" [message]="'Phone'" [customMessage]="''"></control-messages>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="WorkPhone">Work Phone</label>
                      <input type="text" formControlName="WorkPhone" (keypress)="numberOnly($event)" name="PhoneNumber" class="form-control" id="PhoneNumber" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['WorkPhone']" [message]="'Work phone'" [customMessage]="''"></control-messages>
                    </div>

                    <div class="col-md-6 form-group align-self-end">
                      <label for="epass" class="mr-3">Active</label>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active" class="custom-control-input"
                          [(ngModel)]="selectedValue">
                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="active" class="custom-control-input"
                          [(ngModel)]="selectedValue">
                        <label class="custom-control-label" for="customRadioInline2">No</label>
                      </div>
                    </div>
                  </div>
                  <div class=" modal-footer p-0">
                    <button type="button" class="btn btn-danger" [disabled]="disabled"  data-dismiss="modal" (click)="Close()">Close</button>
                    <button type="submit" class="btn btn-navy" [disabled]="disabled">Save</button>
                  </div>
                </form>
                <!-- Tab Content1 Ends-->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="editUserManagement" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">User Management</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
              <div class="tab-pane fade show" id="nav-data-submission" role="tabpanel" aria-labelledby="nav-data-submission-tab">
                <!-- Tab Content1 Starts-->
                <form [formGroup]="userManagementForm" (ngSubmit)="updateForm(userManagementForm.value)" autocomplete="off">
                  <div class="row">
                <div class="col-md-6 form-group">
                  <label for="OrganizationName">Organization Name</label>
                      <div>  <p-dropdown   class="p-dropdown-custom" [options]="clients"  [(ngModel)]="selectedOrganization" placeholder="Select" filter="true"></p-dropdown></div>
                  <control-messages [control]="getFields['OrganizationName']" [message]="'Organization name'" [customMessage]="''"></control-messages>
                </div>
                 

                 <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
              
                  


                    <!-- <div class="col-md-6 form-group">
                      <label for="OrganizationName">Organization Name</label>
                      <select class="form-control" formControlName="OrganizationName" [(ngModel)]="OrganizationName" name="OrganizationName" id="OrganizationName" maxlength="50" (keyup)="error=''">
                            <option value="">-- Select --</option>
                            <option *ngFor="let client of clients" value={{client.clientId}}>
                              {{client.organizationName}}
                            </option>
                      </select>
                      <control-messages [control]="getFields['OrganizationName']" [message]="'Organization name'" [customMessage]="''"></control-messages>
                    </div> -->

                    <div class="col-md-6 form-group">
                      <label for="FirstName">First Name</label>
                      <input type="text" formControlName="FirstName" name="FirstName" [(ngModel)]="firstName" class="form-control" id="FirstName" maxlength="50" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['FirstName']" [message]="'First name'" [customMessage]="''"></control-messages>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="LastName">Last Name</label>
                      <input type="text" formControlName="LastName" name="LastName" class="form-control" [(ngModel)]="lastName" id="LastName" maxlength="50" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['LastName']" [message]="'Last name'" [customMessage]="''"></control-messages>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="Email">Email</label>
                      <input type="text" formControlName="Email" name="Email" class="form-control" id="Email" [(ngModel)]="emailId" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['Email']" [message]="'Email'" [customMessage]="'Email is invalid'"></control-messages>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="Phone">Phone</label>
                      <input type="text" formControlName="Phone" (keypress)="numberOnly($event)" name="Phone" [(ngModel)]="phone" class="form-control" id="Phone" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['Phone']" [message]="'Phone'" [customMessage]="''"></control-messages>
                    </div>

                    <div class="col-md-6 form-group">
                      <label for="WorkPhone">Work Phone</label>
                      <input type="text" formControlName="WorkPhone" (keypress)="numberOnly($event)" name="WorkPhone" [(ngModel)]="workPhone" class="form-control" id="PhoneNumber" (keyup)="error=''"
                        autocomplete="off">
                      <control-messages [control]="getFields['WorkPhone']" [message]="'Work phone'" [customMessage]="''"></control-messages>
                    </div>

                    <div class="col-md-6 form-group align-self-end">
                      <label for="epass" class="mr-3">Active</label>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active" class="custom-control-input"
                          [(ngModel)]="selectedValue">
                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="active" class="custom-control-input"
                          [(ngModel)]="selectedValue">
                        <label class="custom-control-label" for="customRadioInline2">No</label>
                      </div>
                    </div>
                  </div>
                  <div class=" modal-footer">
                    <button type="button" class="btn btn-danger" [disabled]="disabled"  data-dismiss="modal" (click)="Close()">Close</button>
                    <button type="submit" class="btn btn-navy" [disabled]="disabled">Save</button>
                  </div>
                </form>
                <!-- Tab Content1 Ends-->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>





<!-- delete modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <p class="text-center mt-3 alert-confirm">Are you sure want to delete <b>{{deleteUserName}}</b>?</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger modal-close" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-navy" (click)="deleteUserConfirm()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="notInserted" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close not-insert-close"  data-dismiss="modal" aria-label="Close" > <span aria-hidden="true">&times;</span> </button>
        <p class="text-danger p-3 m-0">Please check these fields. Some of them  are not inserted due to this errors.</p>
      </div>
      <div class="modal-body pt-0">
        <div class="form-row">
          
          <div class="col-md-12 form-group "> <a href="javscript:void()" class="btn btn-secondary btn-sm" (click)="exportError()"><i class="fas fa-file-export" aria-hidden="true"></i> Export Error Response</a> </div>
          <div class="border-bottom border-top err-res-table" >
            <p-table #dt class="" [columns]="cols" [value]="error_response" [paginator]="true" [rowsPerPageOptions]="[5,10,25,50,100,500]"
            [rows]="10"  rowHover="true" sortMode="multiple" [responsive]="true" exportFilename="UserManagement_Details">

            <ng-template pTemplate="header" >
              <tr>
                <th class="" >First Name</th>
                <th class="" >Last Name</th>
                <th class="" >Email</th>
                <th class="" >Phone Number</th>
                <th class="" >Work Phone</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-err >
              <tr >
                <td><div class="text-danger " pTooltip="{{err.firstname_error}}" tooltipPosition="top">{{err.firstname}}</div>
                   <!-- <div class="text-small">{{err.firstname_error}}</div> -->
                  </td>
                <td><div class="text-danger" pTooltip="{{err.lastname_error}}" tooltipPosition="top">{{err.lastname}}</div>
                   <!-- <div class="text-small">{{err.lastname_error}}</div> -->
                  </td>
                <td><div class="text-danger" pTooltip="{{err.email_error}}" tooltipPosition="top">{{err.emailid}}</div>
                   <!-- <div class="text-small">{{err.email_error}}</div> -->
                  </td>
                <td><div class="text-danger" pTooltip="{{err.phone_error}}" tooltipPosition="top">{{err.phone}}</div>
                   <!-- <div class="text-small">{{err.phone_error}}</div> -->
                  </td>
                <td><div class="text-danger" pTooltip="{{err.workphone_error}}" tooltipPosition="top">{{err.workphone}}</div>
                   <!-- <div class="text-small">{{err.workphone_error}}</div> -->
                  </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td class="text-center" [attr.colspan]="5">
                  <b>No records found</b>
                </td>
              </tr>
            </ng-template>

          </p-table>
          </div>
         
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button " class="btn btn-danger modal-close" data-dismiss="modal">Close</button>
        <!-- <button type="submit" class="btn btn-navy" data-dismiss="modal">Ok</button> -->
      </div>
    </div>
  </div>
</div>

 






