.btn.btn-dark{
    font-size: 12px;
    letter-spacing: .5px;
    background: rgb(29,37,49);
    background: -webkit-gradient(linear, left top, right top, from(rgba(29,37,49,1)), to(rgba(38,53,68,1)));
    background: linear-gradient(to right, rgba(29,37,49,1) 0%, rgba(38,53,68,1) 100%);
}
.clickable{
    cursor:pointer;
}