.header-btn{
    z-index:100 !important;
}
.action-margin{
    margin-left: 10px;
    margin-top: 4px;
}
.add-btn-div{
    margin-left:45%;
}
.ml-25p{
    margin-left:25%;
}
.bg-light-white{
    background-color: #f5f6f7;
}