<div class="content-section">
  <nav aria-label="breadcrumb" class="breadcrumb-section">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html" class="home"><i class="fas fa-home" aria-hidden="true"></i></a></li>
      <li class="breadcrumb-item"><a href="index.html" >Validation Rule</a></li>
    </ol>
  </nav>
  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Rules</h5>
          <a href="javascript:void(0);" class="btn-add" data-toggle="modal" data-target="#adduser">Add New</a> </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="form-inline float-right form-group">
                <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" href="doc/User_List.xlsx">PDF</a> <a class="dropdown-item" href="doc/User_List.xlsx">Excel</a> </div>
                </div>
                <input type="text" class="form-control" id="courseNumber" placeholder="Search" >
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>                    
                    <th>Rule Name</th>
                    <th>Rule Category</th>
                    <th>Rule Expression</th>
                    <th>Default Error Message</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>                    
                    <td>Net Worth</td>
                    <td>Calculated Field</td>
                    <td>c=A-B</td>
                    <td></td>
                    <td class="text-center"><a href="javascript:void(0);" class="text-primary mr-3" title="Edit"><i class="fas fa-pen-square"></i></a> <a href="javascript:void(0);" class="text-danger" title="Delete"><i class="fas fa-trash-alt"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="adduser" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Add / Edit Rule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist"> <a class="nav-item nav-link active" id="nav-create-emp-tab" data-toggle="tab" href="#nav-create-emp" role="tab" aria-controls="nav-create-emp" aria-selected="true">Upload Rule</a> <a class="nav-item nav-link" id="nav-data-submission-tab" data-toggle="tab" href="#nav-data-submission" role="tab" aria-controls="nav-data-submission" aria-selected="false">Create Rule</a> </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active pt-4" id="nav-create-emp" role="tabpanel" aria-labelledby="nav-create-emp-tab"> 
                <!-- Tab Content1 Starts-->
                
                <div class="form-row">
                  <div class="col-md-12 form-group"> <a href="doc/NCCategory_Template.xlsx" class="btn btn-primary btn-sm" >Download Template</a> </div>
                  <div class="col-md-6 form-group">
                    <label for="collegeName">Upload Rule <span class="text-danger">*</span></label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFile">
                      <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                  </div>
                </div>                
                <!-- Tab Content1 Ends--> 
              </div>
              <div class="tab-pane fade show" id="nav-data-submission" role="tabpanel" aria-labelledby="nav-data-submission-tab"> 
                <!-- Tab Content1 Starts-->                
                <form>
                  <div class="row">
                    <div class="col-md-3 form-group">Length                        
                    </div>
                    <div class="col-md-4 form-group">
                      <label for="ename">Rule Name</label>
                      <input type="text" class="form-control" id="ename">
                    </div>
                    <div class="col-md-4 form-group">
                      <label for="ename">Rule Name</label>
                      <input type="text" class="form-control" id="ename">
                    </div>
                    <div class="col-md-3 form-group">Numeric Range</div>
                    <div class="col-md-4 form-group">
                      <label for="ename">Rule Name</label>
                      <input type="text" class="form-control" id="ename">
                    </div>
                    <div class="col-md-4 form-group">
                      <label for="ename">Rule Name</label>
                      <input type="text" class="form-control" id="ename">
                    </div>
                    

                    <div class="col-md-3 form-group">Date Range</div>
                    <div class="col-md-3 form-group">
                      <label for="ename">Rule Name</label>
                      <select class="custom-select">
                        <option selected></option>
                        <option value="1">MM/dd/yyyy</option>
                      </select>
                    </div>
                    <div class="col-md-3 form-group">
                      <label for="ename">Rule Name</label>
                      <!-- <p-calendar [(ngModel)]="date1"></p-calendar> -->
                      <!-- <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"></p-calendar> -->
                    </div>
                    <div class="col-md-3 form-group">
                      <label for="ename">Rule Name</label>
                      <!-- <p-calendar [(ngModel)]="date1"></p-calendar> -->
                    </div>
                  </div>
                </form>                
                <!-- Tab Content1 Ends--> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-navy">Save</button>
      </div>
    </div>
  </div>
</div>