<div class="content-section" id="fullscreen" [ngClass]="{'ml-0': !showSideBar}">


  <div class="row form-group">
    <div class="col-lg-12">
      <div class="card h-100">
        <div class="card-header">
          <h5>Project definition</h5>
          <a href="javascript:void(0);" class="btn-add" data-toggle="modal" data-target="#addmodal" (click)="addOpenModel()">Add New</a>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <span class="result-found float-left mt-2"><b>{{ dt.totalRecords }}</b> Results Found</span>
              <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
              <div class="form-inline float-right form-group">
                <div class="dropdown export-btn"> <a href="javascript:void(0);" class="btn btn-export mr-3" data-toggle="dropdown"><i class="fas fa-file-export"></i></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> <a class="dropdown-item" (click)="exportPdf()">PDF</a> <a class="dropdown-item" (click)="exportCSV()">CSV</a>
                    <a class="dropdown-item" (click)="exportExcel()">Excel</a>
                  </div>
                </div>
                <input type="text" class="form-control" id="courseNumber" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')">

              </div>
            </div>
            <div class="col-12 scroll-table" id="scrollTableDiv">
              <p-table #dt class="p-table-grid" id="groupTable" [value]="projectDefinitionList" [paginator]="true" [rowsPerPageOptions]="[5,10,25,50,100,500]"
                [rows]="10" rowHover="true" sortMode="multiple" [responsive]="true" exportFilename="project_definitions" [globalFilterFields]="['project', 'projectTypeName', 'description', 'insertedDateTime']">

                <ng-template pTemplate="header">
                  <tr>
                    <th  [ngClass]="{'text-center': col.field === 'insertedDateTime'? true: false}" class="w-14em" *ngFor="let col of cols" [pSortableColumn]="col.field">
                      {{col.header}}
                      <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                    <th  class="text-center w-8em">Status</th>
                    <th  class="text-center w-8em">Action</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-project>
                  <tr>
                    <td class=""><a class="text-decoration-none" [routerLink]="" (click)="ClickProject(project.id)">                            
                            <span class="sidebar-title">{{project.project}}</span>
                        </a></td>
                    <td>{{project.projectType.itemName}}</td>
                    <td title="{{project.description}}" class="overflow-text">{{project.description}}</td>
                    <td class="text-center">{{project.insertedDateTime }}</td>
                    <td class="text-center">
                      <i class="fas fa-square text-success" *ngIf="project.projectIsActive == 1"></i>
                      <i class="fas fa-square text-danger" *ngIf="project.projectIsActive == 0"></i>
                    </td>
                    <td class="text-center">

                      <a href="javascript:void(0);" data-toggle="modal" data-target="#addmodal" (click)="editDefinitionModal(project)" class="text-primary mr-3 ml-1 "
                        title="Edit"><i class="fas fa-pencil-alt"></i></a>
                      <a href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Delete" (click)="deleteProject(project)"><i class="fas fa-trash-alt"></i></a></td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td class="text-center" [attr.colspan]="6">
                      <b>No records found</b>
                    </td>
                  </tr>
                </ng-template>

              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="footer-bottom">
    <p>Copyright © 2020 <span class="text-blue">Unified Data Platform</span> - All rights reserved. </p>
  </div>
</footer>


<!-- Modal -->
<div class="modal fade" id="addmodal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
      <form [formGroup]='projectDefinitionForm' (ngSubmit)="submitForm(projectDefinitionForm.value)">
        <div class="modal-header">
          <h5 class="modal-title"><span *ngIf="!isUpdate">Add</span><span *ngIf="isUpdate">Edit</span> Project</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="Close()"> <span aria-hidden="true">&times;</span> </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-6 form-group">
              <label for="prject">Project</label>
              <input type="text" formControlName="project" class="form-control" maxlength="50" autocomplete="off">
              <div *ngIf="isSubmitted && projectDefinitionForm.controls['project'].errors?.required" class="error">
                Please enter a project name
              </div>
              <div *ngIf="isSubmitted && !projectDefinitionForm.controls['project'].errors?.required && projectDefinitionForm.controls['project'].errors?.whitespace"
                class="error">
                please remove whitespace or special characters
              </div>
              <div *ngIf="isSubmitted && !projectDefinitionForm.controls['project'].errors?.required && !projectDefinitionForm.controls['project'].errors?.whitespace && projectDefinitionForm.controls['project'].errors?.alphabetical"
                class="error">
                Special characters or numbers not allowed for project name
              </div>
              <div *ngIf="isSubmitted && projectDefinitionForm.controls['project'].errors?.maxlength ? true: false" class="error">
                Project name must be lessthan 50 characters
              </div>

            </div>


            <div class="col-md-6 form-group">
              <label for="ProjectType">Project Type</label>
              <angular2-multiselect [data]="projectTypeList" formControlName="projectType" [settings]="projectTypeSettings" (onSelect)="onProjectTypeItemSelect($event)"
                (onDeSelect)="onProjectTypeItemDeSelect($event)" (onDeSelectAll)="onProjectTypeItemDeSelectAll($event)">

              </angular2-multiselect>
              <div *ngIf="isSubmitted && projectDefinitionForm.controls['projectType'].errors?.required ? true: false" class="error">
                Please select a project
              </div>
            </div>


            <div class="col-md-12 form-group">
              <label for="ProjectDescription">Project Description</label>
              <textarea type="text" formControlName="description" [(ngModel)]="description" name="description" class="form-control"
                id="description" (keyup)="error=''" autocomplete="off"></textarea>
              <div class="error" *ngIf="isSubmitted && projectDefinitionForm.controls['description'].errors?.required">
                Please enter project description
              </div>

              <div class="error" *ngIf="isSubmitted && !projectDefinitionForm.controls['description'].errors?.required && isNumber(projectDefinitionForm.controls['description'].value)">
                Numbers only not allowed in project description
              </div>

              <div class="error" *ngIf="isSubmitted && !projectDefinitionForm.controls['description'].errors?.required && projectDefinitionForm.controls['description'].errors?.description">
                Please enter valid description
              </div>
            </div>

            <!--<div class="col-md-12 form-group">
              <label for="RoleDescription">Project Description</label>
              <textarea type="text" formControlName="description" class="form-control"></textarea>
              <div *ngIf="isSubmitted && projectDefinitionForm.controls['description'].errors?.required" class="error">
                Please enter a description
              </div>
              <div *ngIf="isSubmitted && !projectDefinitionForm.controls['description'].errors?.required && projectDefinitionForm.controls['description'].errors?.whitespace"
                class="error">
                please remove whitespace or special characters
              </div>
              <div *ngIf="isSubmitted && !projectDefinitionForm.controls['description'].errors?.required && !projectDefinitionForm.controls['description'].errors?.whitespace && projectDefinitionForm.controls['description'].errors?.alphabetical"
                class="error">
                Special characters or numbers not allowed for description
              </div>
              <div *ngIf="isSubmitted && projectDefinitionForm.controls['description'].errors?.maxlength ? true: false" class="error">
                Description must be lessthan 200 characters
              </div>
            </div>-->
            <div class="col-md-6 form-group align-self-end">
              <label for="epass" class="mr-3">Active</label>
              <p-radioButton name="projectIsActive" value="1" label="Yes" formControlName="projectIsActive"></p-radioButton>&nbsp;&nbsp;
              <p-radioButton name="projectIsActive" value="0" label="No" formControlName="projectIsActive"></p-radioButton>
              <div *ngIf="isSubmitted && projectDefinitionForm.controls['projectIsActive'].errors?.required" class="error">
                Please select a status
              </div>
            </div>
          </div>
          <div class="row" *ngIf="projectStageswithModules.length > 0">
            <div class="col-12 form-group" id="module-main">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <span *ngFor="let stage of projectStageswithModules[0].projectStages; let i = index" (click)="setModuleActiveIndex(stage)"><a class="nav-item nav-link" [ngClass]="{'active': modActIndex === 0 ? true :false  }"  data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                      {{stage.stageName}}
                      </a></span>
                </div>
              </nav>

              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="row">
                    <!--<div class="col-12 form-group align-self-end text-right">
                      <label class="mr-3">Active</label>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="isProjectStageActive" [checked]="isProjectStageActive === 1 ? true : false"
                          class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline1">Yes</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="isProjectStageActive" [checked]="isProjectStageActive === 0 ? true : false"
                          class="custom-control-input">
                        <label class="custom-control-label" for="customRadioInline2">No</label>
                      </div>
                    </div>-->
                  </div>
                  <div class="accordion">
                    <div class="card">
                      <div class="card-header" id="headingOne">
                        <div class="d-flex justify-content-between">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">General Questions </button></div>
                      </div>
                      <div id="collapseOne" [ngClass]="{'collapse': false,'show': validQuestion}" aria-labelledby="headingOne" data-parent="#module-main">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-12 form-group" *ngFor="let question of projectStageswithModules[0].projectStages[modActIndex].questions; let y = index">
                              <label for="questions">{{ question.question }}</label>
                              <input type="text" (input)="onSearchChange($event.target.value, y)" class="form-control" name="questions" [(ngModel)]="question.answer"
                                [ngModelOptions]="{standalone: true}" value="{{question.answer}}">
                              <div *ngIf="isSubmitted && emptyQuesArr.includes(y)" class="error">
                                Please enter answer
                              </div>
                              <div id="question_{{ y }}" class="error ques-error" >
                                Special characters not allowed
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="card border shadow-none">
                          <div class="card-body  border-0 p-2 card-columns">
                            <div class="user-group-section">
                              <div class="card  border-0 shadow-none" *ngFor="let module of projectStageswithModules[0].projectStages[modActIndex].modules; let s = index">
                                <div class="user-title">{{module.moduleName}}</div>
                                <ul>
                                  <li *ngFor="let submodule of projectStageswithModules[0].projectStages[modActIndex].modules[s].subModules"><span>{{submodule.subModuleName}}</span>
                                    <div class="custom-control custom-switch d-inline-block">
                                      <input type="checkbox" name="checkbox" class="custom-control-input {{ module.moduleId }}_{{submodule.subModuleId}}" [checked]="submodule.isActive"
                                        (change)="submoduleOnChange(projectStageswithModules[0].projectStages[modActIndex]['stageId'], submodule, modActIndex, module.moduleId, $event.target.checked)"
                                        id="activetoggle{{s}}{{submodule.subModuleId}}" value="{{ module.moduleId }}_{{submodule.subModuleId}}">
                                      <label class="custom-control-label" for="activetoggle{{s}}{{submodule.subModuleId}}"></label>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="isSubmitted && selectedSubmodule == false" class="error">
                          Please select sub modules
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger modal-close" data-dismiss="modal" (click)="Close()">Close</button>
          <button type="submit" class="btn btn-navy" *ngIf="!isUpdate">Save</button>
          <button type="submit" class="btn btn-navy" *ngIf="isUpdate">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- delete modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast>
    <div class="modal-content">

      <div class="modal-body">
        <p class="text-center mt-3 alert-confirm">Are you sure want to delete <b>{{deleteProjectName}}</b>?</p>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger modal-close" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-navy" (click)="deleteProjectConfirm()">Yes</button>
      </div>
    </div>
  </div>
</div>