footer{
	background:none;
}
.modal-header h5:before{

    /* border-top: 45px solid transparent; */
}
.modal-header{
    position: relative;
    left: -1px;
}


/*-----------wizard------------*/

.user-group-section .user-title{
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: .5rem;
	color: #09abdd;
}
.user-group-section ul{
	margin: 0;
	padding: 0;
}
.user-group-section ul li{
	list-style: none;
	font-size: 14px;
	margin-bottom: 5px;	
    display: flex;
	justify-content: space-between;
}
.user-group-section ul li a{
	font-size: 10px;
}
.v-tabs{
	background: #f2f2f2;
	padding:.5rem;
}
.v-tabs .nav-link.active{
	background: #e9e9e9;
	border-radius: 20px;
	color: #09abdd;
}
.v-tabs .nav-link{
	font-size: 12px;
	margin:.3rem 0;
	color: #828E98;
}
#scrollTableDiv{
	overflow-x:auto;overflow-y:hidden
}
.ques-error{
	display: none;
}