.v-tabs{
	background: #f2f2f2;
	padding:.5rem;
}
.v-tabs .nav-link.active{
	/* background: #e9e9e9; */
	border-radius: 20px;
	/* color: #09abdd; */
}
.v-tabs .nav-link{
	font-size: 12px;
	margin:.3rem 0;
	/* color: #828E98; */
	cursor:pointer;
}
.modal-header h5:before {
  
    /* border-top: 45px solid transparent; */
    
}
.modal-header{
    position: relative;
    left: -1px;
}
.card-div{
    height:240px;
    overflow-y:auto; 
   
}
.user-title{
    font-size: 12px;
    text-transform: uppercase;
    color: #09abdd;
    
    margin-bottom: 0;
}
.ui-multiselect-label.ui-corner-all{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-group-section div {
    width:200px;margin-bottom:0.5em;
	word-break: break-all;
    text-align: justify;
}



.user-group-section p {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 12px 27px 12px 12px;
    width: 227px;
}

.user-group-section i{
    font-size:10px;
}
.modal-table{
	/*overflow:auto;*/
	/*height:200px;*/
	/*border-top:0.5px solid #c8c8c8 !important;*/
}

.modal .tab-pane{
	border-bottom:0.5px solid #c8c8c8 !important;
}

:host ::ng-deep .ui-table .ui-table-thead > tr > th {
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	
	box-shadow: 0px 2px 4px 0 rgba(32,33,36,0.10);
}

.side-nav-pills{
    overflow-y: auto;
    height: 250px;
}

.side-nav-pills::-webkit-scrollbar {
  width: 7px;
}
 
.side-nav-pills::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
 
.side-nav-pills::-webkit-scrollbar-thumb {
  background-color: darkgrey;
 border-radius:3.5px;
}
.proj-validate{
    margin-left: 72px;
}

@media screen and (max-width: 64em) {
	:host ::ng-deep .ui-table .ui-table-thead > tr > th {
		top: 99px;
	}
}



/* scrolltab check csss */

/* scroll tabl check css */


