<div class="login register">
    <!-- <p-toast position="top-right" [style]="{marginTop: '80px'}"></p-toast> -->
  	<div class="container">
	<div class="row justify-content-center min-vh-100 align-items-center">
		<div class="col-md-6">
          
          <div class="login-section align-self-center">
            <div class="row no-gutters">              
              <div class="col-md-12">
                <div class="card h-100 border-0 rounded-0">
                  <div class="card-body">
                    <div class="card-img d-flex justify-content-between">
                      <a [routerLink]="['/home']" class="home-link"><i class="fa fa-home"></i></a>
                      <img src="assets/img/udp-logo.png" class="login-logo">
                    </div>
                    
                    <form [formGroup]="clientAdministrationForm" (ngSubmit)="submitForm(clientAdministrationForm.value)" autocomplete="off">
                      <h5 class="card-title">Register</h5>
                        <div class="form-row">
      
                          <div class="col-md-12 form-group">
                            <label for="OrganizationName">Organization Name</label>
                            <input type="text" formControlName="OrganizationName" name="OrganizationName" class="form-control" id="OrganizationName" maxlength="50" (keyup)="error=''"
                              autocomplete="off">
                            <control-messages [control]="getFields['OrganizationName']" [message]="'Organization name'" [customMessage]="''"></control-messages>
                          </div>
      
      
                          <div class="col-md-6 form-group">
                            <label for="WebUrl">Website</label>
                            <input type="text" formControlName="WebUrl"  name="WebUrl" class="form-control" id="WebUrl" (keyup)="error=''"
                              autocomplete="off">
                            <control-messages [control]="getFields['WebUrl']" [message]="'Web url'" [customMessage]="'Web url is invalid'"></control-messages>
                          </div>
							
      						<div class="col-md-6 form-group">
                            <label for="PhoneNumber">Phone Number</label>
                            <input type="text" formControlName="PhoneNumber" (keypress)="numberOnly($event)" name="PhoneNumber" class="form-control" id="PhoneNumber" (keyup)="error=''"
                              autocomplete="off">
                            <control-messages [control]="getFields['PhoneNumber']" [message]="'Phone number'" [customMessage]="''"></control-messages>
                          </div>
      
                          <div class="col-md-12 form-group">
                            <label for="Address">Address</label>
                            <textarea type="text" formControlName="Address" name="Address" class="form-control" id="Address" (keyup)="error=''"
                              autocomplete="off"></textarea>
                            <control-messages [control]="getFields['Address']" [message]="'Address'" [customMessage]="'Invalid address'"></control-messages>
                          </div>
      
                           <div class="col-md-6 form-group">
                            <label for="FirstName">First Name</label>
                            <input type="text" formControlName="FirstName" name="FirstName" class="form-control" id="FirstName" maxlength="50" (keyup)="error=''"
                              autocomplete="off">
                            <control-messages [control]="getFields['FirstName']" [message]="'First name'" [customMessage]="''"></control-messages>
                          </div>
      
                          <div class="col-md-6 form-group">
                            <label for="LastName">Last Name</label>
                            <input type="text" formControlName="LastName" name="LastName" class="form-control" id="LastName" maxlength="50" (keyup)="error=''"
                              autocomplete="off">
                            <control-messages [control]="getFields['LastName']" [message]="'Last name'" [customMessage]="''"></control-messages>
                          </div>
      
                          <div class="col-md-6 form-group">
                            <label for="Email">Email</label>
                            <input type="text" formControlName="Email" name="Email" class="form-control" id="Email" (keyup)="error=''"
                              autocomplete="off">
                            <control-messages [control]="getFields['Email']" [message]="'Email'" [customMessage]="'Email is invalid'"></control-messages>
                          </div>
      
                          <div class="col-md-6 form-group">
                            <label for="Password">Password</label>
                            <input type="password" formControlName="Password" name="Password" class="form-control" id="Password" (keyup)="error=''"
                              autocomplete="off">
                            <control-messages [control]="getFields['Password']" [message]="'Password'" [customMessage]="'Password is invalid'"></control-messages>
                          </div>
      
                          <!-- <div class="column form-group align-self-end">
                            <label for="epass" class="mr-3">Active</label>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline1" formControlName="active" value="true" name="active" class="custom-control-input"
                                [(ngModel)]="selectedValue">
                              <label class="custom-control-label" for="customRadioInline1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                              <input type="radio" id="customRadioInline2" value="false" formControlName="active" name="active" class="custom-control-input"
                                [(ngModel)]="selectedValue">
                              <label class="custom-control-label" for="customRadioInline2">No</label>
                            </div>
                          </div> -->

                        </div>
                        <div class="mb-4 mt-3">
                          <button type="submit" class="btn btn-primary  btn-block" [disabled]="disabled">Register</button>
                        </div>                        
                      </form>
                      <div class="text-center">
                        <p class="m-0"><small>Back to <a [routerLink]="['/login']">Login</a></small></p>
                      </div>                   
                  </div>
                </div>
              </div>
  
            </div>
          </div>
      </div>
		</div>
		</div>
  </div>
